@model IEnumerable<WilliamRamirez_Examen1P.Models.WR_Sub18>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WR_nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WR_apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WR_edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WR_dorsal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WR_activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WR_fechaInscripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WR_sueldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WR_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WR_apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WR_edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WR_dorsal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WR_activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WR_fechaInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WR_sueldo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
